# Archivos temporales y scraps
tmp.*
tmp/

# Cosas de proyectos RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.opynb_checkpoints

# Claves secretas y eso
.pem
.dcf

# No Jupyter!
.ipynb
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Cosas de .vscode
.vscode/

# Salidas raras de Slurm y grabaciones
slurm-*.out
*.asciinema
